<footer class="fixed bottom-0 left-0 flex items-center justify-between w-full p-2 text-sm rounded-lg bg-base-200">
    <div class="items-center text-blue-500 opacity-50">
        <p>pksofttech.org</p>
    </div>

    <div class="hidden md:block">
        <div class="flex justify-end gap-4 p-2 bg-base-200 text-primary rounded-xl">

            <a href="https://www.facebook.com/profile.php?id=61551897294718" target="_blank" class="text-blue-500">
                <i class="fab fa-facebook-square fa-2x"></i>
            </a>

            <button onclick="line_add_dialog.showModal()" class="text-green-500 ">
                <i class="fa-brands fa-line fa-2x"></i>
            </button>

            <a href="https://www.youtube.com/channel/UC8QUzWR86e1i5E9wJhyxa6A" target="_blank" class="text-red-500">
                <i class="fa-brands fa-youtube fa-2x"></i>
            </a>
            <a href="https://github.com/pksofttech" target="_blank" class="text-teal-900">
                <i class="fa-brands fa-github fa-2x"></i>
            </a>

            <img src="https://hitwebcounter.com/counter/counter.php?page=9189545&style=0005&nbdigits=4&type=page&initCount=0" title="Counter Widget"
                Alt="Visit counter For Websites" border="0" /></a>

        </div>
</footer>