<script type="text/javascript" src="/static/plugins/jquery/jquery.min.js"></script>

<script src="/static/plugins/sweetalert2/sweetalert2.all.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>


<script type="text/javascript"
    src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/date-1.3.0/fc-4.2.1/fh-3.3.1/r-2.4.0/sp-2.1.1/sl-1.6.0/datatables.min.js"></script>


<script src="/static/common/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/plugins/toastr/toastr.min.js"></script>


<!-- <script src="/static/common/web_socket.js?t={{now}}"></script> -->


<!-- <script type="text/javascript" src="/static/plugins/daterangepicker/daterangepicker.js"></script> -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
    integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/common/theme_change.js"></script>

<script src="/static/common/common_script.js?t={{now}}"></script>