<!DOCTYPE html>
<html>

<head>
	{% include '_meta.html' %}
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/v/zf/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/r-2.4.0/sl-1.5.0/datatables.min.css" />

</head>

<body class="dark:bg-base-100">
	<!-- MAIN BODY -->
	<div class="drawer lg:drawer-open ">
		<input id="side-drawer" type="checkbox" class="drawer-toggle" />
		<div class="relative flex flex-col px-2 drawer-content">
			{% include '_nav_bar.html' %}
			<!-- Page content here -->
			<div class="bg-base-200">
				<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
					<ul class="flex flex-wrap -mb-px text-sm font-medium text-center" data-tabs-toggle="#page_TabContent" role="tablist">
						<li class="mr-2" role="presentation">
							<button class="inline-block p-4 border-b-2 rounded-t-lg" id="tab_report_01_btn" onclick="tab_transection_report_select(1)"
								data-tabs-target="#tab_report_01_target" type="button" role="tab" aria-controls="transection_report_system_user_tab_content"
								aria-selected="false"><i class="mr-2 fa-solid fa-xl fa-users-gear"></i>สรุปรายการรับบริการ<br>(การบริการที่ยังดำเนิกการอยู่)</button>
						</li>
						<li class="mr-2" role="presentation">
							<button class="inline-block p-4 border-b-2 rounded-t-lg" id="tab_report_02_btn" onclick="tab_transection_report_select(2)"
								data-tabs-target="#tab_report_02_target" type="button" role="tab" aria-controls="transection_report_tab_content" aria-selected="false"><i
									class="mr-2 fa-solid fa-xl fa-arrow-right-to-bracket"></i>รายการรับบริการ<br>(การรับบริการ)</button>
						</li>
					</ul>
				</div>

				<div id="page_TabContent">

					<div class="hidden p-4 rounded-lg " id="tab_report_01_target" role="tabpanel" aria-labelledby="tab_report_01_btn">
						<div class="text-gray-500 shadow-md ">

							<table id="transection_report_table" class="w-full text-sm text-gray-500 dark:text-gray-400 display">
								<tfoot>
									<tr>

									</tr>
								</tfoot>
							</table>

						</div>
					</div>

					<div class="hidden p-4 rounded-lg " id="tab_report_02_target" role="tabpanel" aria-labelledby="tab_report_02_btn">
						<div class="px-8">
							<input type="text"
								class="w-full p-2 text-lg font-medium text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-green-500 dark:focus:ring-blue-500 dark:focus:border-blue-500"
								id="select_date_time_range_of_build_transection_report" placeholder="YYYY/MM/DD HH:MM - YYYY/MM/DD HH:MM" value=""
								onchange="on_chang_datetime(this.value)">
						</div>
						<div class="text-gray-500 shadow-md sm:rounded-lg">

							<table id="transection_record_report_table" class="w-full text-sm text-gray-500 dark:text-gray-400 display">
								<tfoot>

								</tfoot>
							</table>

						</div>
					</div>


				</div>
			</div>

		</div>

		{% include '_side_menu_bar.html' %}
	</div>

	{% include '_footer.html' %}
</body>
{% include '_script.html' %}

<script>
	let PAGE_LENGTH = 100;
	let tab_select = 1;

	async function build_transection_report_table() {

		const columns_table = [
			{
				data: "Transaction.id",
				title: "NO.",
			},
			{
				data: "Transaction.status",
				title: "สถานะบริการ",
				render: function (data, type) {
					let ret = "";
					switch (data) {
						case 201:
							ret = `<div class="badge badge-sm badge-info badge-outline">รอรับบริการ</div>`;
							break;
						case 202:
							ret = `<div class="badge badge-sm badge-warning badge-outline">รับบริการ</div>`;
							break;
						case 300:
							ret = `<div class="badge badge-sm badge-success badge-outline">ดำเนินการสำเร็จ</div>`;
							break;

						case 400:
							ret = `<div class="badge badge-sm badge-outline">ยกเลิก</div>`;
							break;

						default:
							ret = `<div class="badge badge-sm badge-info badge-outline">${data}</div>`;
					}
					return ret;
				}
			},
			{
				data: "Transaction.createDate",
				title: "วัน-เวลา",
				render: function (data, type) {
					const _d = dateTimeToStr(data, "YYYY/MM/DD@HH:mm:ss");
					const datetime = _d.split("@");
					const warp_datatime = `<div class="badge badge-sm badge-primary badge-outline">${datetime[0]}</div>
											<div class="badge badge-sm badge-secondary badge-outline">${datetime[1]}</div>`
					return warp_datatime;
				},
			},
			{
				data: "Service.group",
				title: "กลุ่ม",
			},
			{
				data: "Transaction.number",
				title: "หมายเลข",
			},
			{
				data: "Service.name",
				title: "Service Name",
			},
			{
				data: "Service.tag",
				title: "Service Name",
			},
			{
				data: "Transaction.machine",
				title: "เครื่องออก Slip",
			},
			{
				data: "Transaction.caller_device",
				title: "ช่องบริการ",
			},
			{
				data: "Transaction.callerDate",
				title: "เวลาเรียกรับบริการ",
				render: function (data, type) {
					const _d = dateTimeToStr(data, "YYYY/MM/DD@HH:mm:ss");
					if (_d == "") {
						return null;
						return `<div class="badge badge-sm badge-error badge-outline">รอรับบริการ</div>`;
					}
					const datetime = _d.split("@");
					const warp_datatime = `<div class="badge badge-sm badge-primary badge-outline">${datetime[0]}</div>
											<div class="badge badge-sm badge-secondary badge-outline">${datetime[1]}</div>`
					return warp_datatime;
				}
			},
			{
				data: "Transaction.successDate",
				title: "เวลาให้บริการสำเร็จ",
				render: function (data, type) {
					const _d = dateTimeToStr(data, "YYYY/MM/DD@HH:mm:ss");
					if (_d == "") {
						return null;
						return `<div class="badge badge-sm badge-error badge-outline">รอรับบริการ</div>`;
					}
					const datetime = _d.split("@");
					const warp_datatime = `<div class="badge badge-sm badge-primary badge-outline">${datetime[0]}</div>
											<div class="badge badge-sm badge-secondary badge-outline">${datetime[1]}</div>`
					return warp_datatime;
				}
			},

		];

		//debug(columns_table)
		headers = await get_headers();

		transection_table = $("#transection_report_table").DataTable({
			dom: '<"top"iB>rt<"bottom"lp><"clear">',
			buttons: [
				{
					text: 'อัปเดทข้อมูล',
					className: 'p-2  text-blue-500 hover:text-blue-700',
					action: function (e, dt, node, config) {
						this.ajax.reload();
					}
				},
			],
			language: {
				"infoEmpty": "ไม่มีรายการข้อมูล",
				"info": "แสดง หน้าข้อมูล _PAGE_ ใน _PAGES_ จากทั้งหมด _TOTAL_ รายการ",
			},
			columnDefs: columnDefs,
			destroy: true,
			autoWidth: true,
			lengthMenu: lengthMenu,
			pageLength: PAGE_LENGTH,
			scrollY: "50vh",
			scrollCollapse: true,
			sScrollX: "100%",
			//paging: false,
			columns: columns_table,
			order: [[0, "desc"]],
			processing: true,
			serverSide: true,
			search: {
				return: true,
			},
			//searching: false,
			select: false,
			ajax: {
				headers: headers,
				type: "GET",
				url: `/api/transaction/datatable`,
				data: function (d) {
					d.date_range = build_transection_report_table.table_date_range;

				},
				error: function (xhr, textStatus, errorThrown) {

					//window.location.reload();
				},
			},
		});

	}

	build_transection_report_table();
	//build_transection_record_report_table();

	async function build_transection_record_report_table(date_range = null) {

		if (typeof build_transection_record_report_table.table_date_range == 'undefined') {
			build_transection_record_report_table.table_date_range = date_range;
			debug("init build_transection_record_report");
			return;
		}
		if (date_range) { build_transection_record_report_table.table_date_range = date_range; }

		const columns_table = [
			//{
			//	data: "Transaction_Record.id",
			//	title: "Transaction_Record ID",
			//},
			{
				data: "Transaction_Record.machine",
				title: "เครื่องพิมพ์ Slip",
			},
			{
				data: "Service.group",
				title: "กลุ่ม",
			},
			{
				data: "Transaction_Record.number",
				title: "หมายเลข",
			},
			{
				data: "Service.name",
				title: "ชื่อบริการ",
			},
			{
				data: "Service.tag",
				title: "รายละเอียดบริการ",
				orderable: false,
			},

			{
				data: "Transaction_Record.caller_device",
				title: "caller_device",
				render: function (data, type) {
					const warp_data = `<div class="badge badge-lg badge-info badge-outline">${data}</div>`
					return warp_data;
				},
			},
			{
				data: "Transaction_Record.createDate",
				title: "วันที่ออก Slip",
				render: function (data, type) {
					const _d = dateTimeToStr(data, "YYYY/MM/DD@HH:mm:ss");
					const datetime = _d.split("@");
					const warp_datatime = `
					<div class="flex flex-col gap-2">
					<div class="badge badge-sm badge-warning badge-outline">${datetime[0]}</div>
					<div class="badge badge-sm badge-secondary badge-outline">${datetime[1]}</div>
					</div>`
					return warp_datatime;
				},
			},
			{
				data: "Transaction_Record.callerDate",
				title: "เวลาเรียกรับบริการ",
				render: function (data, type) {
					if (data == null) return '';
					const _d = dateTimeToStr(data, "YYYY/MM/DD@HH:mm:ss");
					const datetime = _d.split("@");
					const warp_datatime = `
					<div class="flex flex-col gap-2">
					<div class="badge badge-sm badge-warning badge-outline">${datetime[1]}</div>
					</div>`
					return warp_datatime;
				},
			},
			{
				data: "Transaction_Record.successDate",
				title: "เวลาทำรายการสำเร็จ",
				render: function (data, type) {
					const _d = dateTimeToStr(data, "YYYY/MM/DD@HH:mm:ss");
					const datetime = _d.split("@");
					const warp_datatime = `
					<div class="flex flex-col gap-2">
					<div class="badge badge-sm badge-success badge-outline">${datetime[1]}</div>
					</div>`
					return warp_datatime;
				},
			},
			{
				data: "Transaction_Record.createDate",
				title: "เวลารอเรียก",
				orderable: false,
				render: function (data, type, row) {

					const start_time = row.Transaction_Record.createDate;
					const end_time = row.Transaction_Record.callerDate;

					if (end_time == null) return '';
					return dateTimeDiff(start_time, end_time);
				},
			},
			{
				data: "Transaction_Record.createDate",
				title: "เวลาให้บริการ",
				orderable: false,
				render: function (data, type, row) {
					const start_time = row.Transaction_Record.callerDate;
					const end_time = row.Transaction_Record.successDate;

					if (end_time == null) return '';
					return dateTimeDiff(start_time, end_time);
				},
			},
			{
				data: "Transaction_Record.createDate",
				title: "เวลารวม (h:mm:ss)",
				orderable: false,
				render: function (data, type, row) {

					//dateTimeDiff
					//const warp_data = `<div class="badge badge-sm badge-error badge-outline">${data}</div>`
					const start_time = row.Transaction_Record.createDate;
					const end_time = row.Transaction_Record.successDate;

					if (end_time == null) return '';
					return dateTimeDiff(start_time, end_time);
				},
			},
			{
				data: "Transaction_Record.review",
				title: "review",
				render: function (data, type) {
					if (data == null) return "";
					const warp_data = `<div class="badge badge-sm badge-error badge-outline">${data}</div>`
					return warp_data;
				},
			},


		];

		//debug(columns_table)
		headers = await get_headers();

		const header_document = "await get_header_document(build_transection_record_report_table)";
		const footer_document = "await get_footer_document(build_transection_record_report_table)";

		transection_table = $("#transection_record_report_table").DataTable({
			dom: '<"top"iBf>rt<"bottom"lp><"clear">',
			buttons: [
				{
					text: 'อัปเดทข้อมูล',
					className: 'p-2  text-blue-500 hover:text-blue-700',
					action: function (e, dt, node, config) {
						this.ajax.reload();
					}
				},
				{
					extend: 'print',
					footer: true,
					autoPrint: false,
					customize: function (win) {
						$(win.document.body)
							.css('font-size', '10pt')
							.prepend(header_document);

						$(win.document.body)
							.css('font-size', '10pt')
							.append(footer_document);

						$(win.document.body).find('table')
							.addClass('compact border')
							.css('font-size', 'inherit');
					},
				},
				{
					extend: 'excelHtml5',
					footer: true,
					title: 'Report',
					text: '<i class="fa fa-table fainfo" aria-hidden="true" ></i>',
					titleAttr: 'Export Excel',
					"oSelectorOpts": { filter: 'applied', order: 'current' },
					exportOptions: {
						//columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,],
						modifier: {
							page: 'all'
						},
						format: {
							header: function (data, columnIdx) {
								if (columnIdx == 1) {
									//return 'column_1_header';
									return data;
								}
								else {
									return data;
								}
							}
						}
					}
				},
				"colvis",
			],
			language: {
				"infoEmpty": "ไม่มีรายการข้อมูล",
				"info": "แสดง หน้าข้อมูล _PAGE_ ใน _PAGES_ จากทั้งหมด _TOTAL_ รายการ",
			},
			columnDefs: columnDefs,
			destroy: true,
			autoWidth: true,
			lengthMenu: lengthMenu,
			pageLength: PAGE_LENGTH,
			scrollY: "50vh",
			scrollCollapse: true,
			sScrollX: "100%",
			//paging: false,
			columns: columns_table,
			order: [[0, "asc"]],
			processing: true,
			serverSide: true,
			search: {
				return: true,
			},
			//searching: false,
			select: false,
			ajax: {
				headers: headers,
				type: "GET",
				url: `/api/transaction/datatable_record`,
				data: function (d) {
					d.date_range = build_transection_record_report_table.table_date_range;

				},
				error: function (xhr, textStatus, errorThrown) {

					//window.location.reload();
				},
			},

		});

	}


	async function on_chang_datetime(date_range) {
		build_transection_record_report_table(date_range);
	}
	async function tab_transection_report_select(_tab_select) {
		tab_select = _tab_select;
		build_transection_table(null);
	}

	async function build_transection_table(date_range) {
		debug(tab_select + "  : " + date_range);
		if (tab_select == 1) {
			build_transection_report_table();
		}
		if (tab_select == 2) {
			build_transection_record_report_table(date_range);
		}

	}

</script>

<script>


	$("#select_date_time_range_of_build_transection_report").daterangepicker({
		ranges: {
			วันนี้: [moment().hour(0).minute(0), moment().hour(23).minute(59)],
			เมื่อวานนี้: [moment().hour(0).minute(0).subtract(1, "days"), moment().hour(23).minute(59).subtract(1, "days")],
			"7 วันก่อน": [moment().subtract(6, "days"), moment()],
			"30 วันก่อน": [moment().subtract(29, "days"), moment()],
			เดือนนี้: [moment().startOf("month"), moment().endOf("month")],
			เดือนก่อน: [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")],
			ปีนี้: [moment().startOf("year"), moment().endOf("year")],
			ปีก่อน: [moment().subtract(1, "year").startOf("year"), moment().subtract(1, "year").endOf("year")],
		},
		timePicker24Hour: true,
		timePicker: true,
		timePickerIncrement: 1,
		locale: {
			format: "YYYY/MM/DD HH:mm",
		},
	});

</script>


</html>